<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{date}}</h6>
    <p class="card-text">{{description}}</p>
    <a href="#" class="card-link">See details</a>

    <form action="user/create/{{_id}}/edit" method="GET">
    <a class="card-link" href="/user/create/{{_id}}/edit">Edit</a>
    </form>

    <a href="#" class="card-link">Delete</a>
  </div>
</div>