<ul>
    <li>{{title}}</li>
    <li>{{description}}</li>
    <li>{{date}}</li>
</ul>

    <form action="user/create/{{_id}}/edit" method="GET">
    <a href="/user/create/{{_id}}/edit">Edit</a>
    </form>